* {
    margin: 0;
    padding: 0;
}
.home {
    display:flex;
    overflow: hidden;
    flex-direction: column;

}

.home-top {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    margin-top: .5rem;
    background-color: #FFF;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}
.home-top:hover {
    height: 55vh;
}
.textbox {
    margin-bottom: 2rem;
    font-size: 4rem;
    color: #808080;
    font-weight: 800;
}
.buttonbox {
    width: 10%;

}

.home-bottom {
    display: flex;
    width: 100%;
    height: 50vh;
}
.firstbox {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}
.firstboxheader {
    font-weight: 600;
    font-size: 3rem;
    margin-top: 2rem;
    color: #89Cff0;
}
.firstboxtext {
    margin-top: 2rem;
    color: #808080;
}
.secondbox {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}
.secondboxheader {
    font-weight: 600;
    font-size: 3rem;
    margin-top: 2rem;
    color: #89Cff0;
}
.secondboximages {
    display: flex;
    flex-direction:column;
    align-items: center;
}
.logo {
    height: 8rem;
    transition: all ease 1s;
}
.logo:hover {
    height: 8.5rem;
}