* {
    margin: 0;
    padding: 0;
}
.home {
    background-color: white;
    display:flex;
    overflow: hidden;
    flex-direction: column;

}

.home-top {
    align-items: center;
    display: flex;
    width: 100%;
    height: 50vh;
    margin-top: .5rem;
    margin-left: 2rem;
}
.home-right-side {
    max-width:50%;
    text-align: left;
    display:flex;
    flex-direction:column;
}

.textbox {
    margin-bottom: 1.5rem;
    font-size: 4rem;
    color: black;
    font-weight: 800;
}
.textbox span {
    color: #366db3;
}

.buttonbox {
    width: 20%;

}

.logo {
    height: 8rem;
    transition: all ease 1s;
}
.logo:hover {
    transform:scale(1.05);
}
.under-main-text {
    color: black;
    margin-top: -.9rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}
.home-sr {
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    width:100%;
    min-height:13rem;
}

.star-rating {
    margin-top:3rem;
    color:#366db3;
    font-size:2.5rem;
}
.text-under-stars {
    color:black;
    margin-bottom: 3rem;
    margin-top: .5rem;
    font-weight: 300;
    font-size: 3.5rem;
}

.home-modals {
    display:flex;
    margin:2rem;
    margin-top:5rem;
    justify-content: space-around;
}

.home-promises {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    width:100%;
}
.promises-header {
    font-weight:300;
    font-size:3.5rem;
}
.promises-icons {
    font-size:2.5rem;
    display:flex;
    justify-content:space-around;
    color:#366db3;
}
.promises-icons-1st {
    align-items:center;
    display:flex;
    flex-direction:column;
    margin:2rem;
}
.promises-icons-2nd {
    align-items:center;
    display:flex;
    flex-direction:column;
    margin:2rem;
}
.promises-icons-3rd {
    align-items:center;
    display:flex;
    flex-direction:column;
    margin:2rem;
}