
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004eff;
    color: #fff;
    padding: 0.8rem;
  } 
  .navbar-left .logo {

    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  
  }
  .navbar-center .navbar-links {
    font-size: 1.5rem;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
.navbar-center .navbar-links li {
  margin-right: 1rem;
}
.navbar-center .navbar-links a {
  color: #fff;
  text-decoration: none;
}
.navbar-right {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.cart-icon, .user-icon {
  text-decoration: none;
  color: #fff;
  margin-left: 1rem;
}
;